
.App{
  display:flex;
  flex-direction:column;
  justify-content: start;
  align-items:center;
  padding-top:50px;
  
}
#root{
  display:flex;
  justify-content: center;
  width:100vw;
  height:100vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;


}

input{
  width:400px;
  height:40px;
  line-height:40px;
  padding:0 20px;
  border-radius: 20px 0 0 20px;
  border: 1px solid #aaa;
  border-right:none;
  outline:none;
  z-index: 1;
}
input + button{
  height:40px;
  line-height:40px;
  border-radius: 0 20px 20px 0;
  border:1px solid #aaa;
  outline:none;
  padding:0 20px;
  background-color:rgb(255,149,78);
  color:#fff;
}
input + button:hover{
  background-color:rgb(255,172,117)
}
.suggest{
  position: absolute;
  width:100%;
  list-style:none;
  padding:60px 0px 0px 20px;
  border-radius: 20px;
  top: -16px;
  border:1px solid #aaa;
  box-shadow: 0 3px 6px #aaa;
  z-index: 0;
  overflow:hidden;


}
.suggest-item{
  display:flex;
  padding:10px 20px;
  align-items:center;
  cursor:pointer;
}

.suggest-item:hover{
  background: #ccc
}

 /* img{
  width:px;
  height:40px;
  border-radius: 20px;
  border:2px solid white;
  margin-right:10px;
  object-fit:cover;
  box-shadow: 0 0 6px gray
} */